body {
    background: url(../img/bg_masthead.gif) repeat-x;
}

#header {
    width: 940px;
    margin:  0 auto;
    
    clear: both;
    height: 78px;
}

img#logo {
    float: left;
    background-repeat: no-repeat;
    margin-top: 16px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.loadingDiv {
    display: none;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    z-index: 10; 
    width: 100%; 
    background-color: rgb(200,200,200);
    opacity: 0.7;
    zoom: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -64px; /* -1 * image width / 2 */
    margin-top: -64px;  /* -1 * image height / 2 */
    display: block;     
}

    .ajax-loader h2 {
        position: relative;
        left: -30%;    
    }

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}


#bbtree rect { stroke: #f00; fill: none; }
#bbtree .collide rect { stroke: #fc0; }
#bbtree g, #vis text { cursor: pointer; }
#vis text:hover { opacity: .7 !important; }
#bbtree {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
#presets a { border-left: solid #666 1px; padding: 0 10px; }
#presets a.first { border-left: none; }
#keyword { width: 300px; }
#fetcher { width: 500px; }
#keyword, #go { font-size: 1.5em; }
#text { width: 100%; height: 100px; }
p.copy { font-size: small; }
#form { font-size: small; position: relative; }
hr { border: none; border-bottom: solid #ccc 1px; }
a.active { text-decoration: none; color: #000; font-weight: bold; cursor: text; }
#angles line, #angles path, #angles circle { stroke: #666; }
#angles text { fill: #333; }
#angles path.drag { fill: #666; cursor: move; }
#angles { text-align: center; margin: 0 auto; width: 350px; }
#angles input, #max { width: 42px; }