@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     Please contact <a href="mailto:joaleal@deloitte.co.uk">Joao Leal</a> for any questions about this tool.
</p>
<script>

    $(".nav-list .active").removeClass("active");
    $(".nav-list .about-menu").addClass("active");
</script>